$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$lightblue: #006884;
$grey: #202020;
$navy: #192231;
$nicenavy: #1F2739;


@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC:300,400,700);

@mixin translateY($e){
  -webkit-transform: translateY($e);
   -moz-transform: translateY($e);
     transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
   -moz-transition:$e;
    transition:$e;
}

body {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  @include transition(.4s ease-in-out);
  text-decoration: none;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out)
  }
}

.container-fluid {
  line-height: 24px
}

table *{


    cursor: pointer;
  td {
    color: $black;
    &:hover {
      color: $red;
      @include transition(.4s ease-in-out)
    }
   }
  }
